html(ng-app="app")
	head
		link(rel="stylesheet", type="text/css", href="index.css")
		title Angular w/ Gulp seed project
	body
		greeting(name="World")
		script(src="angular.min.js")
		script(src="index.js")
